[username]
show_always = true

[hostname]
ssh_only = false

[[battery.display]]  # "bold red" style when capacity is between 0% and 10%
threshold = 10
style = "bold red"

[[battery.display]]  # "bold yellow" style when capacity is between 10% and 50%
threshold = 50
style = "bold yellow"

[[battery.display]]  # "bold green" style when capacity is between 50% and 100%
threshold = 100
style = "bold green"

[time]
disabled = false

# this is not even required, how cool!
[custom.python_path]
#command = "python3 -c 'import sys; print(\".\".join(map(str, sys.version_info[:3])))'"
description = "display current python path"
command = "which python"
when = "exit 0"
#directories = ["."]
#extensions = [".py"]
format = "($output)"
disabled = true

[custom.temp]
command = "vcgencmd measure_temp | head -c -1"
when = "test -f /usr/bin/vcgencmd"
format = "$output'C"
disabled = false

